@model IEnumerable<DataAccessLayer.Dtos.AdminDtos.TopbarListDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Üst Menü Liste Paneli</h3>
<br />
<p>
    <a class="btn btn-outline-success" asp-action="Create">Yeni Ekle</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Mail")   
            </th>
            <th>
                @Html.DisplayName("Telefon")
            </th>
            <th>
                @Html.DisplayName("Sosyal Medya1")
            </th>
            <th>
                @Html.DisplayName("Sosyal Medya2")
            </th>
            <th>
                @Html.DisplayName("Sosyal Medya3")
            </th>
            <th>
                @Html.DisplayName("Sosyal Medya4")
            </th>
            <th>
                @Html.DisplayName("Durum")
            </th>
            <th>
                @Html.DisplayName("Son Güncellenme")
            </th>
            <th>
                @Html.DisplayName("Sırası")
            </th>
            <th>
                @Html.DisplayName("Kim Ekledi")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialMedia4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RowOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedFullName)
            </td>
            <td>
                    <a class="btn btn-outline-danger" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
           <hr>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
